<div class="padding-1rem">
  <h2 i18n="@@contact">{{ 'Contact' | translate }}:</h2>
  <p>
    <span i18n="@@nameLabel">{{ 'Name' | translate }}:</span>&nbsp;
    <strong i18n="@@dhineshSubramanian">{{ 'DhineshSubramanian' | translate }}</strong>
  </p>
  <p>
    <span i18n="@@emailLabel">{{ 'Email' | translate }}:</span>&nbsp;<strong>dhinesh.subbu@gmail.com</strong>
  </p>
</div>
