<div class="parent">
  <div class="topnav">
    <div>
      <a i18n="@@home" routerLinkActive="active" routerLink="/home">{{ 'Home' | translate }}</a>
      <a i18n="@@buildings" routerLinkActive="active" routerLink="/buildings"
        >{{ 'Buildings' | translate }}</a
      >
      <a i18n="@@about" routerLinkActive="active" routerLink="/about">{{ 'About' | translate }}</a>
    </div>
    <div>
      <select name="language" id="language" #langSelect (change)="changeLang(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
    </div>
  </div>
  <div class="section hide-overflow">
    <router-outlet></router-outlet>
  </div>
</div>
