<div class="loader-container" *ngIf="loading">
  <div id="loader"></div>
</div>
<div class="parent animate-bottom" *ngIf="!loading">
  <ng-container *ngIf="tableData.length">
    <div class="padding-1rem search-fields">
      <form [formGroup]="searchForm" (ngSubmit)="searchBuilding()">
        <label for="name">
          <span i18n="@@nameLabel">{{ 'Name' | translate }}:</span>&nbsp;
          <input
            type="search"
            name="name"
            id="name"
            list="building-name"
            autocomplete="off"
            formControlName="building"
            (change)="pickBuilding($event, searchByName)"
          />
          <datalist id="building-name">
            <option *ngFor="let building of buildings">
              {{ building }}
            </option>
            <option value=""></option>
          </datalist>
        </label>
        <label for="city">
          <span i18n="@@cityLabel">{{ 'City' | translate }}:</span>&nbsp;
          <input
            type="search"
            name="city"
            id="city"
            list="building-city"
            autocomplete="off"
            formControlName="city"
            (change)="pickBuilding($event, searchByCity)"
          />
          <datalist id="building-city">
            <option *ngFor="let building of cities">
              {{ building }}
            </option>
          </datalist>
        </label>
        <label for="state">
          <span i18n="@@stateLabel">{{ 'State' | translate }}:</span>&nbsp;
          <input
            type="search"
            name="state"
            id="state"
            list="building-state"
            autocomplete="off"
            formControlName="state"
            (change)="pickBuilding($event, searchByState)"
          />
          <datalist id="building-state">
            <option *ngFor="let building of states">
              {{ building }}
            </option>
          </datalist>
        </label>
        <div class="align-end">
          <button
            i18n="@@submit"
            type="submit"
            [disabled]="!name.valid && !city.valid && !state.valid"
          >
            {{ 'Submit' | translate }}
          </button>
          <button
            i18n="@@reset"
            type="reset"
            [disabled]="!name.value && !city.value && !state.value"
            (click)="reset()"
          >
            {{ 'Reset' | translate }}
          </button>
        </div>
      </form>
    </div>
    <p class="pagination">
      <button
        i18n="@@prev"
        [disabled]="curPage == 1"
        (click)="curPage = curPage - 1"
      >
        {{ 'PREV' | translate }}
      </button>
      <span
        ><span i18n="@@page">{{ 'Page' | translate }}</span>&nbsp;
        <select name="page" id="page" [(ngModel)]="curPage">
          <option [value]="page" *ngFor="let page of numberOfPages() | range">
            {{ page }}
          </option></select
        >&nbsp; <span i18n="@@of">{{ 'of' | translate }}</span> {{ numberOfPages() }}</span
      >
      <button
        i18n="@@next"
        [disabled]="curPage >= tableData.length / pageSize"
        (click)="curPage = curPage + 1"
      >
        {{ 'NEXT' | translate }}
      </button>
    </p>
    <div class="padding-1rem section">
      <table>
        <thead>
          <tr>
            <th i18n="@@number">{{ 'No.' | translate }}</th>
            <th i18n="@@name">{{ 'Name' | translate }}</th>
            <th i18n="@@city">{{ 'City' | translate }}</th>
            <th i18n="@@state">{{ 'State' | translate }}</th>
            <th i18n="@@location">{{ 'Location' | translate }}</th>
            <th i18n="@@phone">{{ 'Phone' | translate }}</th>
            <th i18n="@@email">{{ 'Email' | translate }}</th>
            <th>
                <span i18n="@@rating">{{ 'Rating' | translate }}</span>
                <select [(ngModel)]="sort" name="sort" id="sort" (change)="sortData()">
                    <option value="asc">&darr;</option>
                    <option value="desc">&uarr;</option>
                </select>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let info of tableData
                | slice: curPage * pageSize - pageSize:curPage * pageSize
            "
          >
            <td>{{ info.id ? info.id : "-" }}</td>
            <td>{{ info.building ? info.building : "-" }}</td>
            <td>{{ info.city ? info.city : "-" }}</td>
            <td>{{ info.state ? info.state : "-" }}</td>
            <td *ngIf="info.lat && info.long">
              {{ info.lat }}, {{ info.long }}
            </td>
            <td>{{ info.phon ? info.phon : "-" }}</td>
            <td>{{ info.email ? info.email : "-" }}</td>
            <td>
              <select name="rating" id="rating" (change)="giveRating($event, info)" [(ngModel)]="info.rating">
                <option value="0" disabled></option>
                <option [value]="rating" *ngFor="let rating of maxRating | range">{{ rating }}</option>
              </select>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th i18n="@@number">{{ 'No.' | translate }}</th>
            <th i18n="@@name">{{ 'Name' | translate }}</th>
            <th i18n="@@city">{{ 'City' | translate }}</th>
            <th i18n="@@state">{{ 'State' | translate }}</th>
            <th i18n="@@location">{{ 'Location' | translate }}</th>
            <th i18n="@@phone">{{ 'Phone' | translate }}</th>
            <th i18n="@@email">{{ 'Email' | translate }}</th>
            <th>
                <span i18n="@@rating">{{ 'Rating' | translate }}</span>
                <select [(ngModel)]="sort" name="sort" id="sort" (change)="sortData()">
                    <option value="asc">&darr;</option>
                    <option value="desc">&uarr;</option>
                </select>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </ng-container>
</div>
