table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 1rem;
}

table {
  text-align: center;
  margin: 0 auto;
}

form,
label {
  display: flex;
}

form > * {
  flex: 1;
  padding-inline: 1rem;
}

.align-end {
  text-align: end;
}

button[type="submit"] {
  margin-inline-end: 1rem;
}

label select,
input {
  flex-grow: 1;
}

.pagination {
  text-align: end;
}

.pagination button {
  margin-inline: 1rem;
}

.pagination > span {
  border: 1px solid #ccc;
  padding: 5px 10px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}
