/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
  margin: 0;
}

main {
  height: 100vh;
}

.padding-1rem {
  padding: 1rem;
}

.topnav,
.search-fields,
.pagination {
  flex-shrink: 0;
}

.section {
  flex-grow: 1;
  overflow: auto;
}

.parent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hide-overflow {
    overflow: hidden;
}
